# Django secret key: https://djecrety.ir/
SECRET_KEY=<your-secret-key>

ALLOWED_HOSTS=127.0.0.1 localhost

LANGUAGE_CODE="de-de"
TIME_ZONE="Europe/Berlin"

# IP Resolving

RESOLVING_INTERFACE="enx806d970a7d1b"
IP_RESOLVING_RANGE="192.168.1.0/24"
RESOLVING_INTERVAL=1