[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap-v5 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
wakeonlan = "*"
apscheduler = "*"
scapy = "*"
python-dotenv = "*"
channels-redis = "*"
daphne = "*"
drf-spectacular = "*"
ping3 = "*"
redis = "*"
hiredis = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
