[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap-v5 = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
wakeonlan = "*"
apscheduler = "*"
scapy = "*"
python-dotenv = "*"

[dev-packages]
django-rest-swagger = "*"
drf-spectacular = "*"

[requires]
python_version = "3.12"
