<!DOCTYPE html>

<html>

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}   
    {% bootstrap_javascript %}
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dashboard</a> 
        </div>
    </nav>

    <h1>Hello, {{ request.user.username }}</h1>
    <p>Welcome to my first Django project!</p>

    <div id="deviceGrid" class="container"></div>

    <div class="modal" id="createModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <form id="createForm">
                    <div class="modal-body">
                        <input type="text" placeholder="Enter Device name" name="name" required>
                        <input type="text" placeholder="Enter MAC-Address" name="mac" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="button" id="btnCreate" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#createModal">+</button>

    <script type="text/javascript" src="{% static 'js/devices.js' %}"></script>
</body>

</html>