<!DOCTYPE html>

<html>

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% load bootstrap5 %}
    {% bootstrap_css %}   
    {% bootstrap_javascript %}
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Dashboard</a> 
        </div>
    </nav>

    <h1>Hello, {{ request.user.username }}</h1>
    <p>Welcome to my first Django project!</p>

</body>

</html>